<html>
  <head>
    <title>Housing Medford Questionnaire 2023</title>
    <link rel="stylesheet" href="./survey_response_style.css" />
  </head>
  <body>
    <img src="./hml.jpg" class="logo_top" />
    <h1>Housing Medford Questionnaire 2023</h1>
    <ul>
      <li><a href="mayor_by_question.html">Mayoral responses by question</a></li>
      <li><a href="cc_by_question.html">City Council responses by question</a></li>
      <li><a href="sc_by_question.html">School Committee responses by question</a></li>
      <li><a href="by_candidate.html">Responses by candidate</a></li>
    </ul>
    {DISCUSSION}
  </body>
</html>
